<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AsbSubscriptionName" value="asbtest-sub1" />
		<add key="AsbTopicName" value="asbtest-topic1" />
		<add key="AsbQueueName" value="asbtest-q1" />
		<add key="KeyVault" value="KeyVaultName" />
	</appSettings>
</configuration>